/*** Algolia Colors ***/

/* main palette */
$color-nebula: #5468ff;
$color-white: #fff;
$color-moon: #f5f5fa;
$color-proton: #c5c9e0;
$color-nova: #848ab8;
$color-telluric: #5d6494;
$color-solstice: #3a416f;
$color-cosmos: #21243d;

/* secondary palette */
$color-mercury-1: #008fba;
$color-mercury-2: #2da7cb;
$color-mercury-3: #5bbfdd;
$color-mercury-4: #88d6ee;
$color-mercury-5: #b5eeff;

$color-jupiter-1: #3ab2bd;
$color-jupiter-2: #61c5c8;
$color-jupiter-3: #89d9d3;
$color-jupiter-4: #b0ecde;
$color-jupiter-5: #d7ffe9;

$color-saturn-1: #ec8b63;
$color-saturn-2: #f3a57e;
$color-saturn-3: #f8be9a;
$color-saturn-4: #fcd7b7;
$color-saturn-5: #fdf1d4;

$color-mars-1: #ed5a6a;
$color-mars-2: #f27885;
$color-mars-3: #f695a0;
$color-mars-4: #fbb3ba;
$color-mars-5: #ffd0d5;

$color-venus-1: #ae3e88;
$color-venus-2: #d44fa4;
$color-venus-3: #ea71bc;
$color-venus-4: #f89ad3;
$color-venus-5: #ffcae9;

/*** Algolia Fonts ***/
